<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>{% block title %} My feedback site {% endblock %}</title>
    <style>
        header{background-color: black; color: white; text-align: center; margin: 5px;}
        footer{background-color:black; color: white;text-align: center; margin: 5px;}
        body{background-color: rgb(137, 221, 249); margin: 10px;}
    </style>
</head>
<body>
    <header>
        <h2>WEBSITE</h2>
        
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        @2026 All rights reserved.
    </footer>

    
</body>
</html>