{% extends "base.html" %}
{% block title %}
Submit your feedback
{% endblock %}
<h1>FEEDBACK PAGE</h1>
{% block content %}
<h1>FEEDBACK PAGE</h1>
<form method="POST" >
    <label>username</label>
    <input type="text" placeholder="Enter your name" name="user"><br><br>
    <label>Feedback</label> 
    <input type="text" placeholder="Please give your feedback" name="feedback"><br><br>
    <label for="rating">Rating</label><br>
        <select id="rating" name="rating"
                style=" padding:8px; margin:8px 0;" required>
            <option value="">-- Select Rating --</option>
            <option value="5">⭐⭐⭐⭐⭐ Excellent</option>
            <option value="4">⭐⭐⭐⭐ Good</option>
            <option value="3">⭐⭐⭐ Average</option>
            <option value="2">⭐⭐ Poor</option>
            <option value="1">⭐ Very Bad</option>
        </select><br><br>
    <button style="background-color: rgb(47, 47, 242); color: azure;" type="submit">Submit</button>
    
</form>
{% endblock %}